.content{
/*	margin-top: 15px;*/
}

table, th, td {
    border: 1px solid black;
}

td *{
	font-size: 0.95em;
	margin-top: 0px;
  	margin-bottom: 0px;
}

td, th {
    padding: 5px;
}

tr > td:last-child {
	text-align: center;
}

.legend {
    font-size: 12px;
  }

rect {
	stroke-width: 2;
}

.tooltip {
	background-color: white;
	padding: 2px 3px;
	border-radius: 2px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	font-size: 0.95em;
	position : absolute;
    z-index : 10;
    visibility:hidden;
    font-family:monospace; 
    font-weight:bolder;
}

.hidden {
	visibility: hidden;
}